.confibox {
    margin-bottom: 2rem;
    background-color: var(--secondary-color);
    border-radius: 3px;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        -5px -5px 10px rgba(221, 48, 48, 0.3);
    padding: 5px;
    margin: 20px auto;
    text-align: justify;
}