<!DOCTYPE html>
<html lang ="es">

    <head>
        <meta charset="UTF-8" />
        <title>Configuracion</title>
        <link rel="stylesheet" href="../../shared/css/vars.css">
        <link rel="stylesheet" href="../../shared/css/common.css">
        <link rel="stylesheet" href="configuracion.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <header> 
            <section id = "inicio">
                <h1> Configuracion </h1>
                <p class = "subtitle"> Configuracion de perfiles</p>
            </section>
        </header>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6d0909;">
          <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Mi Revista Digital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="../../index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="../../index.html#noticias">Noticias</a></li>
                <li class="nav-item"><a class="nav-link" href="../../index.html#blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="../contact/contacto.html">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="configuracion.html">Configuracion</a></li>
                <li class="nav-item"><a class="nav-link" href="../../index.html#sobre%20mi">Sobre mi</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <main> 
            <section class = "confibox" id = "formulario">
                <h2> Formularios </h2>

                <form id="form-config" action="" method="post">
                    <fieldset>
                        <legend> Configuracion de perfil </legend>

                        <label for = "imagen" class = "label"> Imagen de perfil: </label>
                        <br>
                        <input type = "file" id = "imagen" name = "imagen" accept=".jpg,.png,.jpeg"> <br> <br>

                        <label for = "fecha" class = "label"> Fecha de nacimiento: </label>
                        <br>
                        <input class = "select" type = "date" id = "fecha" name = "fecha"> <br> <br>

                        <label class = "label"> Genero: </label>
                        <br>
                        <label> <input type = "radio" name = "genero" value = "hombre" class = "label"> Hombre </label>
                        <label> <input type = "radio" name = "genero" value = "mujer" class = "label"> Mujer </label>
                        <label> <input type = "radio" name = "genero" value = "otro" class = "label"> Otro </label> <br> <br>

                        <label for = "color" class = "label"> Color favorito: </label>
                        <br>
                        <input class = "select" type = "color" id = "color" name = "color" value = "#ff0000">

                    </fieldset>

                    <hr>

                    <fieldset>
                        <legend> Cambiar clave </legend>

                        <label for = "nombre" class = "label"> Nombre de usuario: </label> 
                        <br>
                        <input class = "select" type = "text" id = "config-nombre" name = "nombre" placeholder="Ej: Ramses Gonzalez" required>
                        <br>

                        <label for = "old" class = "label"> Antigua contraseña: </label>
                        <br>
                        <input class = "select" type = "password" id = "old" name = "old" minlength="8" required>
                        <br>

                        <label for = "new" class = "label"> Nueva contraseña: </label>
                        <br>
                        <input class = "select" type = "password" id = "new" name = "new" minlength="8" required>
                    </fieldset>

                    <div style = "margin-top: 20px;"> 
                        <button class = "enviar" type = "submit"> Enviar </button> 

                    </div>
                </form>
            </section>

            <section class = "confibox" id = "tablas"> 
                <h2>Tablas</h2>
                <div class = "tabla">
                <table>
                    <thead>
                        <tr>
                            <th class = "bottom">Imagen de perfil </th>
                            <th>Correo </th>
                            <th>Nombre </th>
                            <th>Apellido </th>
                            <th>Cedula </th>
                            <th>Fecha de nacimiento </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class = "tableimg"> <img src = "../../assets/img/Mario.jpg" alt = "Imagen de ejemplo"> </td>
                            <td>supermarioodyssey@gmail.com </td>
                            <td>Mario </td>
                            <td>Mario </td>
                            <td>19.850.000 </td>
                            <td>27/ 10/ 2017</td>
                        </tr>
                        <tr class = "secondimg">
                            <td class = "tableimg"> <img src = "../../assets/img/Donkey Kong.jpg" alt = "Imagen de ejemplo"> </td>
                            <td>donkeykongbananza@gmail.com</td>
                            <td>Donkey</td>
                            <td>Kong</td>
                            <td>19.940.000</td>
                            <td>17/ 07/ 2025</td>
                        </tr>
                        <tr>
                            <td class = "tableimg"> <img src = "../../assets/img/Link.jpg" alt = "Imagen de ejemplo"> </td>
                            <td>breathofthewild@gmail.com</td>
                            <td>Link</td>
                            <td>-</td>
                            <td>19.860.000</td>
                            <td>03/ 03/ 2017</td>
                        </tr>
                        <tr class = "secondimg">
                            <td class = "tableimg"> <img src = "../../assets/img/Samus Aran.jpg" alt = "Imagen de ejemplo"> </td>
                            <td>metroiddread@gmail.com</td>
                            <td>Samus</td>
                            <td>Aran</td>
                            <td>19.861.000</td>
                            <td>08/ 10/ 2021</td>
                        </tr>
                        <tr>
                            <td class = "tableimg"> <img src = "../../assets/img/Yoshi.jpg" alt = "Imagen de ejemplo"> </td>
                            <td>craftedworld@gmail.com</td>
                            <td>Yoshi</td>
                            <td>-</td>
                            <td>19.950.000</td>
                            <td>29/ 03/ 2019</td>
                        </tr>
                    </tbody>
                </table>
                </div>

            </section>

            <footer>
                <p>&copy; 2025 Mi Sitio Web. Todos los derechos reservados.</p>
                <address>
                    Contacto: <a href="rcgonzalez.24@est.ucab.edu.ve">Correo de la UCAB</a>
                </address>
            </footer>

            <button class = "chat"> Chat </button>

        </main>

        <!-- Toast de éxito Bootstrap -->
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1100">
          <div id="toast-exito" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                ¡Formulario enviado correctamente!
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Cerrar"></button>
            </div>
          </div>
        </div>

        <script src="../../shared/js/javascript.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>